{% load static %}
<head>
<!-- Meta tags -->
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <meta name="google-site-verification" content="zirpKJqaMrjow8AVukaoY_exdImAl42n9xTNeF0juvI" /> -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
<meta name="description" content="VIS - Reporting on the business of technology, education, inspirational quotes, and business tips" />
<!-- <meta name="reply-to" content="hi@1appgo.com"> -->
<meta name="author" content="Abiodun Babs Imran">
<META NAME="Keywords" CONTENT="tech news, inspirational quotes, educational tips,  technlogy, education, virtual intelligent solution, vis">
<!-- good night messages, romantic messages, sweet messeges, -->
<META NAME="Subject" CONTENT="Virtual Inteligent Solutions (VIS)">
<META NAME="Language" CONTENT="English">
<META NAME="Robots" CONTENT="INDEX,FOLLOW">
<!-- <meta property="og:url" content="https://1app.online/" /> -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Virtual Inteligent Solutions (VIS)" />
<meta property="og:image" content="https://res.cloudinary.com/o-bounce-technologies/image/upload/v1572369068/1app/OneApp-512.png" />
<meta property="og:description" content="VIS, Intelligent solutions indeed. We provide solutions and tips on education, we give news on technology" />
<!-- and also provide inspirational, romantic, sweet, night and morning messages -->
<!-- <meta name="twitter:site" content="@myvtu"> -->
<!-- <meta property="fb:app_id" content="608806436227028" /> -->
<meta property="og:site_name" content="Virtual Inteligent Solutions (VIS)">
<!-- <meta name="twitter:image:alt" content="Virtual Inteligent Solutions (VIS) - One App, All your payments at the cheapest rate"> -->

<!-- Links favi icon -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favi/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favi/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favi/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favi/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favi/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favi/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favi/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favi/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favi/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favi/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favi/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favi/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favi/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favi/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'img/favi/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css.map' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
  

  <!-- Nivo Slider Theme -->
  <link href="{% static 'css/nivo-slider-theme.css' %}" rel="stylesheet">
  

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  </head>