<nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="{% url 'posts' %}">
                  <h1><span>VIS</span></h1>
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a class="page-scroll" href="{% url 'posts' %}">Home</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#services">Services</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#product">Products</a>
                  </li>
                  <!-- <li>
                    <a class="page-scroll" href="team.php#team">Team</a>
                  </li> -->
                  <!-- <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                  </li> -->
                  
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts<span class="caret"></span></a>
                    
                    <ul class="dropdown-menu" role="menu">
                      
                      <li><a href="{% url 'single-tech' %}" >Tech</a></li>
                      
                      <li><a href="{% url 'education' %}" >Education</a></li>
                    </ul> 
                    
                  </li>
                  
                  <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Images<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href=# >Inspirational</a></li>
                      <li><a href=# >Nature</a></li>
                    </ul> 
                  </li> -->
                  <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Text<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href=# >Romantic</a></li>
                      <li><a href=# >Night</a></li>
                      <li><a href=# >Morning</a></li>
                      <li><a href=# >Love</a></li>
                    </ul> 
                  </li> -->
                  <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li>
                    <a class="page-scroll" href="{% url 'logout' %}">Logout</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="{% url 'post_blog' %}">Admin <i class="fas fa-sign-out-alt"></i></a>
                  </li>
                  
                  {% else %}
                  <li>
                    <a class="page-scroll" href="{% url 'post_blog' %}">Admin <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                  </li>
                  {% endif %}
                  
              </div>
              <!-- navbar-collapse -->
            </nav>