{% extends 'base.html' %}


{% block content %}
<p></p>
<br><br><br><br>

<div class="container">
    
    <div class="jumbotron">
        {% if messages %}
{% for message in messages %}
  <div class="alert alert-warning alert-dismissable" role="alert">
    <button class="close" data-dismiss="alert">
      <small><sup>x</sup></small>
    </button>
    {{message}}
  </div>
{% endfor %}
{% endif %}
    <h1>Post Form</h1>
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ post_form.as_p }}
    
    <input type="submit" value="Submit Post" class="btn btn-success">
</form>
</div>

</div>
{% endblock %}